<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WPPOOL Test Suite" parallel="tests" thread-count="1">
    
    <test name="WordPress Login Test">
        <classes>
            <class name="testcases.Part_A.WordPressLoginTest"/>
        </classes>
    </test>
    
    <test name="Flex Plugin Test">
        <classes>
            <class name="testcases.Part_A.FlexTablePluginTest"/>
        </classes>
    </test>
</suite>